*~
*#
*.soln
*.pyc
*.hdf5
*.log
*.swp
experiments/
tf_saved/
backup/*
opentamp/pddl_files/*
!opentamp/pddl_files/.gitkeep
opentamp/robot_info/temp_env_xmls/*
!opentamp/robot_info/temp_env_xmls/.gitkeep
memory_info.txt
*.bak
exp_logs/*
experiment_logs/*
.ruby-version
.vscode
temp/*
MUJOCO_LOG.TXT
*.DS_Store

runs/